// --- fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
// font-family: 'Merriweather', serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// font-family: 'Open Sans', sans-serif;
// === / fonts
// --- mixins
// === / mixins
// --- variables
$screen_xs_max: 575.98px;
$screen_sm_max: 767.98px;
$screen_md_max: 991.98px;
$screen_lg_max: 1199.98px;
$screen_xl_max: 1399.98px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$screen_xxl: 1400px;
// ----------------------------------------
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #333333;
    a,
    a:hover {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #fff;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    h1,
    h2,
    h3 {
        font-family: 'Merriweather', serif;
    }
    .section_title h3 {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 50px;
    }
    .brand_title {
        font-family: 'Merriweather', serif;
        font-weight: bold;
        color: #FFFFFF;
    }
    .menu .menu_item a {
        font-family: 'Merriweather', serif;
        transition: .3s;
        display: inline-block;
        &:hover {
            transform: scale(1.1);
        }
    }
    .container {
        @media (max-width: $screen_xs_max) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
        @media (min-width: $screen_xl) {
            max-width: 1260px;
        }
    }
    &.menu_active {
        overflow: hidden;
        .header {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
        #toggle_menu {
            div:not(:nth-child(2)) {
                opacity: 0;
            }
            div:nth-child(2) {
                position: relative;
                transform: rotate(45deg);
                &::after {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

section {
    position: relative;
    @media (max-width: $screen_xs_max) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media (min-width: $screen_xl) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

// / === commons
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .brand_title,
    .menu {
        text-align: center;
    }
    .brand_title {
        font-size: 96px;
    }
    .menu {
        li+li {
            margin-top: 15px;
        }
        .menu_item a {
            font-size: 48px;
            letter-spacing: 0.03em;
            color: #fff;
        }
    }
    @media (max-width: $screen_xs_max) {
        background-color: #333333;
        .brand_title {
            font-size: 44px;
        }
        .menu .menu_item a {
            font-size: 30px;
            letter-spacing: 0.03em;
            color: #fff;
        }
        transform: translateY(-100vh);
        transition: .5s;
        opacity: 0;
        visibility: hidden;
    }
}

.section_intro {
    padding: 0;
    height: 100vh;
    position: relative;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (min-width: $screen_sm) {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .6);
        }
    }
    @media (max-width: $screen_lg_max) {
        background: url(../img/intro-mob.jpg) no-repeat 50% 0;
        background-size: cover;
    }
    @media (max-width: $screen_xs_max) {
        position: relative;
        @keyframes identifier {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateY(50px);
            }
        }
        .arrow_image {
            display: inline-block;
            position: absolute;
            left: 50%;
            margin-left: -30px;
            bottom: 150px;
            width: 60px;
            height: 60px;
            img {
                width: 100%;
            }
            animation: identifier 2s infinite;
        }
        .brand_title {
            position: absolute;
            top: 15px;
            left: 20px;
            font-size: 48px;
            max-width: 200px;
        }
        #toggle_menu {
            position: absolute;
            top: 40px;
            right: 20px;
            z-index: 10;
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div+div {
                margin-top: 6px;
            }
            div {
                position: relative;
                z-index: 9;
                height: 3px;
                width: 100%;
                border-radius: 3px;
                background-color: #fff;
                transition: .3s;
            }
            div:nth-child(2) {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    transition: .3s;
                }
            }
        }
    }
}

.section_promo {
    background-color: #B80F31;
    color: #fff;
    .text_wrap {
        h3 {
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 48px;
        }
        p {
            font-weight: 600;
            font-size: 24px;
        }
    }
    .photo_wrap {
        img {
            width: 100%;
        }
    }
    .list_wrap {
        li+li {
            margin-top: 20px;
        }
        .li_title {
            font-family: 'Merriweather', serif;
            font-size: 64px;
            line-height: 1;
            margin-bottom: 20px;
        }
        .li_descrip {
            font-size: 18px;
        }
    }
    @media (min-width: $screen_xl) {
        .text_wrap {
            border-top: 1px solid #fff;
            padding-top: 50px;
            padding-right: 25px;
        }
        .photo_wrap {
            border-top: 1px solid #fff;
            padding-top: 50px;
            padding-left: 25px;
            padding-right: 50px;
        }
        .list_wrap {
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            padding-top: 50px;
            padding-left: 50px;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        .container-xl {
            padding: 0;
        }
        .text_wrap,
        .list_wrap {
            padding-left: 12px;
            padding-right: 12px;
            margin-left: 24px;
            margin-right: 24px;
        }
        .text_wrap,
        .text_wrap h3 {
            margin-bottom: 30px;
        }
        .list_wrap {
            margin-top: 50px;
            li {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
            .li_title,
            .li_descrip {
                width: 100%;
                max-width: 200px;
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        .container-xl {
            padding: 0;
        }
        .text_wrap,
        .list_wrap {
            padding: 20px;
        }
    }
}

.section_vacancies {
    .section_text {
        font-size: 24px;
        margin-bottom: 50px;
    }
    .swiper-container {
        .swiper-slide {
            padding-bottom: 50px;
        }
        .swiper-pagination {
            text-align: left;
            padding-left: 40px;
        }
        .swiper-pagination-bullets {
            bottom: -5px;
        }
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 100%;
            background: none;
            opacity: 1;
            border: 1px solid #B80F31;
            &-active {
                background-color: #B80F31;
            }
        }
    }
    .accordion {
        .accordion-item {
            border-bottom: 1px solid #000;
        }
        .accordion-item:nth-child(1),
        .accordion-item:nth-child(2) {
            border-bottom: none;
        }
        .accordion-collapse {
            border: none;
        }
        .accordion-button {
            height: 100%;
            padding: 20px;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 1);
            transition: 0.3s;
            border-radius: 0!important;
        }
        .accordion-button:not(.collapsed) {
            color: #000;
            background-color: #fff;
        }
        .accordion-button::after {
            background-image: url(../img/svg/arrow-down.svg);
        }
        .accordion-button:not(.collapsed)::after {
            background-image: url(../img/svg/arrow-down.svg);
            transform: rotate(180deg);
        }
        .accordion_title {
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 24px;
            &__num {
                margin-right: 15px;
            }
        }
        .accordion-collapse {
            p {
                margin: 20px 0;
            }
            .price {
                font-family: 'Merriweather', serif;
                font-weight: bold;
                font-size: 24px;
                color: #333333;
                text-align: right;
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .accordion {
            margin-top: 50px;
            .accordion-button {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.section_steps {
    overflow-x: hidden;
    background-color: #B80F31;
    color: #fff;
    .step_item {
        position: relative;
        .step_count {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -75px;
            margin-right: -75px;
            line-height: 1;
            font-size: 150px;
            font-weight: 700;
        }
        .img_wrap {
            position: relative;
            z-index: 1;
            height: 350px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .step_title {
            font-family: 'Merriweather';
            font-weight: bold;
            font-size: 24px;
            margin: 30px 0 10px;
        }
        .step_descr {
            font-weight: 600;
        }
    }
    @media (min-width: $screen_xl) {
        .steps_wrap {
            padding-top: 75px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 80px;
            grid-row-gap: 80px;
        }
        .div1 {
            grid-area: 1 / 1 / 2 / 2;
        }
        .div2 {
            grid-area: 1 / 2 / 2 / 3;
        }
        .div3 {
            grid-area: 1 / 3 / 2 / 4;
        }
        .div4 {
            grid-area: 2 / 1 / 3 / 2;
        }
        .div5 {
            grid-area: 2 / 2 / 3 / 4;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        .steps_wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 80px;
        }
        .div1 {
            grid-area: 1 / 1 / 2 / 2;
        }
        .div2 {
            grid-area: 1 / 2 / 2 / 3;
        }
        .div3 {
            grid-area: 2 / 1 / 3 / 2;
        }
        .div4 {
            grid-area: 2 / 2 / 3 / 3;
        }
        .div5 {
            grid-area: 3 / 1 / 4 / 3;
        }
    }
    @media (max-width: $screen_xs_max) {
        .step_item+.step_item {
            margin-top: 80px;
        }
        .step_item .step_count {
            margin-right: -50px;
        }
        .step_item:last-child {
            .img_wrap img {
                object-position: 25%;
            }
        }
    }
}

.section_requirements {
    .require_title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 5px;
    }
    @media (min-width: $screen_xl) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (max-width: $screen_xs_max) {}
}

.section_conditions {
    background-color: #B80F31;
    color: #fff;
    .condition_item_wrap {
        width: 250px;
        padding: 0;
    }
    .condition_item {
        .img_wrap {
            height: 230px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                transition: .3s;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: 20px;
                border: 3px solid #B80F31;
                transition: .3s;
            }
        }
        .condition_title {
            white-space: nowrap;
            font-weight: 600;
            font-size: 20px;
            border-bottom: 1px solid #fff;
            margin-top: 15px;
            padding-bottom: 7px;
            margin-bottom: 7px;
        }
        .condition_descr {}
    }
    .swiper-condition {
        overflow-x: hidden;
    }
    .swiper-pagination-bullets {
        bottom: 20px!important;
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 100%;
        background: none;
        opacity: 1;
        border: 1px solid #fff;
        &-active {
            background-color: #fff;
        }
    }
    @media (min-width: $screen_sm) {
        .condition_item:hover {
            .img_wrap {
                img {
                    filter: grayscale(0%)
                }
                &::after {
                    margin: -10px;
                    border: 3px solid #fff;
                }
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (max-width: $screen_xs_max) {}
}

.section_contacts {
    .contacts_text {
        font-weight: 600;
        font-size: 24px;
        border-bottom: 1px solid #333333;
    }
    .contacts_wrap {
        .social_bar {
            display: flex;
            li+li {
                margin-left: 20px;
            }
        }
        .phones_bar {
            li+li {
                margin-top: 5px;
            }
            a {
                color: #333333;
                font-size: 20px;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .image_wrap {
            max-width: 560px;
            width: 100%;
            height: 425px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .text_wrap {
            max-width: 560px;
            width: 100%;
            height: 425px;
            border-left: 1px solid #333333;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .contacts_text {
            padding-left: 48px;
            padding-bottom: 48px;
        }
        .contacts_wrap {
            padding-top: 48px;
            padding-left: 48px;
            .phones_bar {
                margin-top: 20px;
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .image_wrap {
            img {
                width: 100%;
            }
        }
        .contacts_text {
            padding: 50px 0px;
        }
        .contacts_wrap {
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    @media (max-width: $screen_xs_max) {
        .contacts_wrap {
            flex-direction: column;
            .phones_bar {
                margin-top: 40px;
            }
        }
    }
}

.section_feedback {
    background-color: #B80F31;
    color: #fff;
    .section_title {
        text-align: center;
    }
    .form_wrap {
        display: flex;
        flex-direction: column;
        .group {
            position: relative;
            width: 100%;
            margin-bottom: 45px;
            .input {
                font-size: 16px;
                width: 100%;
                color: #fff;
                outline: none;
                border: none;
                background: none;
                border-bottom: 1px solid #fff;
                padding-bottom: 8px;
                &:focus {
                    outline: none;
                }
            }
            label {
                color: rgba(255, 255, 255, 0.8);
                font-size: 18px;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 0px;
                bottom: 8px;
                transition: 0.3s ease all;
                -moz-transition: 0.3s ease all;
                -webkit-transition: 0.3s ease all;
            }
            input:focus~label,
            input:valid~label {
                bottom: 38px;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .form_button {
            button {
                font-family: 'Merriweather';
                border: none;
                outline: none;
                background-color: #fff;
                color: #B80F31;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.02em;
                line-height: 1;
                padding: 15px 40px;
            }
        }
    }
    @media (min-width: $screen_xl) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (max-width: $screen_xs_max) {}
}

.section_footer {
    padding: 0;
    .brand_title {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: #333333;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .menu_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        .menu+.menu {
            margin-left: 100px;
        }
        li+li {
            margin-top: 15px;
        }
        .menu_item a {
            color: #333333;
        }
    }
    .contacts_wrap {
        .phones_bar {
            li+li {
                margin-top: 5px;
            }
            a {
                color: #333333;
                font-size: 20px;
            }
        }
        .social_bar {
            display: flex;
            li+li {
                margin-left: 20px;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .brand_title {
            border-right: 1px solid #333333;
        }
        .contacts_wrap {
            border-left: 1px solid #333333;
            .phones_bar {
                padding: 48px;
                border-bottom: 1px solid #333333;
            }
            .social_bar {
                padding: 48px;
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .brand_title {
            text-align: center;
        }
        .contacts_wrap {
            border-top: 1px solid #333333;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    @media (max-width: $screen_xs_max) {
        .contacts_wrap {
            flex-direction: column;
            .social_bar {
                margin-top: 40px;
            }
        }
    }
}